#about{
    height: 90vh;
    margin-top:650px;
}

#about [data-bigletter]:before{
    left: 10%;
}

.splitSection{
    // height: calc(100vh - 17%);
    // position: relative;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
}

.splitLeft {
    width: 110%;
}
	
.splitRight {
    margin-left: 5%;
    // width: 95%
	}

.splitRight p{
    font-weight: 400;
    font-size: 18px;
}

.splitRight span{
    color:#191970;
    font-weight: 700;
}

.splitRight span.nintendo{
    color: #ff4554
}

.splitRight span.switch{
    color: #00c3e3
}

@media (max-width: 1210px){
    #about .sectionInner{
        width: 90%;
    }
}

@media (max-width: 970px){
    #about{
        margin-top: 580px;
    }
    .splitRight p{
        font-size: 15px;
    }
}

@media (max-width: 876px){
    .splitRight{
        width: 150%;
        margin-right: 5%;
    }
}

@media (max-width: 720px){
    #about{
        margin-bottom: 200px;
    }
    .splitSection{
        flex-direction: column-reverse;
    }
    .splitLeft{
        width: 40%;
    }
    .splitRight{
        width: 80%;
    }
}

@media (max-width: 420px){
    #about{
        margin-bottom: 250px;
    }
}

@media(max-width: 350px){
    .splitRight{
        margin-right: 10%;
    }
}