footer {
    padding: 100px 60px;
	transition: all 400ms 0.2s ease;
	-webkit-transition: all 400ms 0.2s ease;
    -moz-transition: all 400ms 0.2s ease;
    -o-transition: all 400ms 0.2s ease;
    -ms-transition: all 400ms 0.2s ease;
	}
	
	
footer .footerInner {
	position: relative;
	transition: all 200ms 0.2s ease;
}
    
.loadingEnd footer .footerInner { 
	transition: all 400ms 2.0s ease;
	-webkit-transition: all 400ms 2.0s ease;
    -moz-transition: all 400ms 2.0s ease;
    -o-transition: all 400ms 2.0s ease;
    -ms-transition: all 400ms 2.0s ease;
    opacity: 1; filter: alpha(opacity=100); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";  
}
	
footer .socialmedia-widget {
	margin-top: 0px;
}
	
footer .backToTop {
	text-align: center;
	font-size: 11px;
	font-family: "Lato";
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	color: #0d0d0d;
	width: 56px;
	height: 20px;
	line-height: 20px;
	position: absolute;
	top: 50%; 
	margin-top: -10px;
	right: 45%; 
	margin-left: -27px;
	}
	
footer .backToTop:after {
	content:"";
	position: absolute;
	bottom: 0;
	left: 44%; 
	margin-left: -0%;
	width: 0%;
	height: 1px;
	background: #0d0d0d;
	transition: all 200ms ease;
	-webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
	}

footer .backToTop:hover:after {
	width: 96%;
	margin-left: -43%;
	}
	
.stickyFooter {
	width: 100%;
	position: fixed;
	bottom: -90px;
	z-index: 100002;
	left: -20px
}

@media (max-width: 600px){
	.stickyFooter .backToTop{
		right: -45px;
	}
	footer .backToTop{
		right: -5px;
	}
}