.titleAlignCenter{
    text-align: center;
    margin-bottom: 5%;
}

.columnSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    height: 60vh;
}

.skillContent{
    width: 25%;
    min-width: 121px;
    height: 25%;
    transition: all 0.5s;
    i{
        font-size: 4rem;
        margin: auto auto;
    }
}

.skillName {
    margin-top: 5%;
}

.html{
    cursor: url('/assets/rsz_htmllogo.png'), auto;
}

.css{
    cursor: url('/assets/rsz_cssLogo.png'), auto;
}

.sass{
    cursor: url('/assets/rsz_sassLogo.png'), auto;
}

.jsSkill{
    cursor: url('/assets/rsz_jsLogo.png'), auto;
}

.jquery{
    cursor: url('/assets/rsz_jqueryLogo.png'), auto;
}

.react{
    cursor: url('/assets/rsz_reactLogo.png'), auto;
}

.github{
    cursor: url('/assets/rsz_githubLogo.png'), auto;
}

.firebase{
    cursor: url('/assets/rsz_firebaseLogo.png'), auto;
}

.creativity{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.creativityInner h4,
.creativityInner h2{
    color: white;
    text-align: center;
}

.creativityInner h2{
    font-weight: 700;
    text-transform: uppercase;
}


@media (max-width: 855px){
    .columnSection{
        width: 90%;
        margin: 5% auto;
    }
}

@media (max-width: 645px){
    .columnSection{
        width: 80%;
    }
    .creativity{
        height: 60vh;
        margin-bottom: 20%;
    }
}

@media(max-width: 450px){
    .creativityInner h2{
        font-size: 50px;
    }
    .skillContent h5{
        font-size: 18px;
    }
}

@media(max-width: 400px){
    .creativityInner h2{
        font-size: 45px;
        line-height: 70px;
    }
}

@media(max-width: 380px){
    .creativityInner h2{
        font-size: 35px;
        line-height: 50px;
    }
}